<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOHiZh3epuhvjP3-BQM98ROIe7mLN4KSw</string>
	<key>GCM_SENDER_ID</key>
	<string>200184314745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eimrahor.NewsOnUs-</string>
	<key>PROJECT_ID</key>
	<string>newsonus-34240</string>
	<key>STORAGE_BUCKET</key>
	<string>newsonus-34240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200184314745:ios:d728e11ebb9f91901f8da8</string>
</dict>
</plist>